@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

@font-face {
  font-family: 'builder';
  src:  url('fonts/builder/builder.eot?v8brjx');
  src:  url('fonts/builder/builder.eot?v8brjx#iefix') format('embedded-opentype'),
        url('fonts/builder/builder.ttf?v8brjx') format('truetype'),
        url('fonts/builder/builder.woff?v8brjx') format('woff'),
        url('fonts/builder/builder.svg?v8brjx#builder') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: 'builder' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-vehicle:before {
  content: "\e900";
}
.icon-gear:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}
.icon-wrench:before {
  content: "\e903";
}
.icon-steering:before {
  content: "\e904";
}
.icon-tire:before {
  content: "\e905";
}


body {
  margin: 0px;
  overflow: hidden;
  background: #F5F6F7;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #222;
}


/*checkboxes*/
input[type="checkbox"] {
  float: left;
  margin: 2px 7px 0 0;
}

/*selects*/
.select-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  border: 1px solid;
  border-radius: 3px;
  background: #444;
  border-color: #111 #0a0a0a black;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}
.select-wrapper:before,
.select-wrapper:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888 transparent;
  pointer-events: none;
}
.select-wrapper:before {
  border-bottom-style: solid;
  border-bottom-color: #aaa;
  border-top: none;
}
.select-wrapper:after {
  margin-top: 7px;
  border-top-style: solid;
  border-top-color: #aaa;
  border-bottom: none;
}
.select-wrapper select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 26px 6px 10px;
  height: 28px;
  background: #444;
  background: rgba(0, 0, 0, 0) !important;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  color: #aaa;
  text-shadow: 0 1px black;
}
@-moz-document url-prefix() {
  .select-wrapper select {
    padding-left: 6px;
  }
}
.select-wrapper select:focus {
  width: 100%;
  color: #ccc;
}
.select-wrapper select > option {
  background: #444;
}

/*buttons*/
#page button {
  float: left;
  line-height: 40px;
  margin: 0;
  padding: 0 15px;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  outline: 0 none !important;
  background: #CC0000;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
              0 2px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
#page button:hover {
  background: #F81717;
}

/*colorpicker*/
button[colorpicker] {
  height: 28px;
  width: 90%;
  border: 0 none;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}
.colorpicker .dropdown-menu {
  padding: 8px;
  border: 1px solid #111;
  border-radius: 3px;
  background: #222;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.colorpicker-position-bottom .dropdown-menu::before {
  border-bottom-color: #111;
}
.colorpicker-position-bottom .dropdown-menu::after {
  border-bottom-color: #222;
}
.colorpicker button.close {
  margin: 10px 0 0 0;
  padding: 8px 14px;
  border: 0 none;
  background: #333;
  cursor: pointer;
}


/*loader*/
#loader {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
}
#loader .spinner {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
#loader .spinner .cube {
  -webkit-animation: rotate 1500ms infinite;
  animation: rotate 1500ms infinite;
  height: 30px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 30px;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
  }
}
#loader .spinner .face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#loader .spinner .face.front {
  background: #f43;
  -webkit-transform: translateZ(15px);
  transform: translateZ(15px)
}
#loader .spinner .face.back {
  background: #f43;
  -webkit-transform: translateZ(-15px);
  transform: translateZ(-15px)
}
#loader .spinner .face.left {
  background: #e63423;
  -webkit-transform: translateX(-15px) rotateY(90deg);
  transform: translateX(-15px) rotateY(90deg)
}
#loader .spinner .face.right {
  background: #b02f23;
  -webkit-transform: translateX(15px) rotateY(90deg);
  transform: translateX(15px) rotateY(90deg)
}
#loader .spinner .face.top {
  background: #ff5c4d;
  -webkit-transform: translateY(-15px) rotateX(90deg);
  transform: translateY(-15px) rotateX(90deg)
}
#loader .spinner .face.bottom {
  background: #D63021;
  -webkit-transform: translateY(15px) rotateX(90deg);
  transform: translateY(15px) rotateX(90deg)
}
#loader .spinner .text {
  text-transform: uppercase;
  font-size: 10px;
  color: #F43;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 14px auto;
  text-align: center;
}


/* editor */
#editor {
  width: 240px;
  position: fixed;
  top: 60px;
  left: -240px;
  bottom: 0;
  background: #333;
  background: rgba(0,0,0,0.8);
  color: #ccc;
  box-shadow: 0 0 1px #aaa;
  -webkit-box-shadow: 0 0 1px #aaa;
  transition: 0.5s;
  overflow: hidden;
}
#editor.visible {
  left: 0;
}
#editor .editor-container {
  width: 255px;
  max-height: 100%;
  overflow: auto;
}
#editor .editor-container .section {}
#editor .editor-container .section .section-header {
  padding: 15px 10px;
  cursor: pointer;
}
#editor .editor-container .section .section-header .icon {
  margin: 0 10px 0 0;
  font-size: 14px;
  vertical-align: bottom;
}
#editor .editor-container .section .section-header:hover {
  background: #222;
  color: #fff;
}
#editor .editor-container .section.active .section-header {
  background: #1a1a1a;
  background: rgba(0,0,0,0.6);
  color: #fff;
}
#editor .editor-container .section .section-content {
  display: none;
  background: #2a2a2a;
  background: rgba(0,0,0,.4);
  padding: 0 30px 0 10px;
  overflow: hidden;
}
#editor .editor-container .section.active .section-content {
  display: block;
}

#editor .editor-container .field {
  margin: 15px 0;
  overflow: hidden;
}
#editor .editor-container .field label {
  display: block;
  margin: 0 0 5px 0;
}

/*header*/
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  border: none;
  z-index: 999;
  background: #fff;
  color: #188ae2;
  transition: 0.5s;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
#header h1 {
  float: left;
  padding: 0 10px;
  width: 240px;
  font-size: 160%;
  font-weight: 300;
  line-height: 60px;
  background: #1c1a1a;
  color: #fff;
  box-sizing: border-box;
}
#header h1 .icon {
  margin: 0 8px 0 0;
  font-size: 28px;
  vertical-align: text-bottom;
}
#header h1 strong {
  font-weight: 500;
}

#header button {
  margin: 10px;
}

/* toggle */
#header #editor-toggle {
  float: right;
  margin: 0;
  position: relative;
  height: 60px;
  width: 64px;
  background: transparent;
  box-shadow: none;
}
#header #editor-toggle:before {
  content: "";
  position: absolute;
  left: 22px;
  top: 24px;
  width: 18px;
  height: 2px;
  background: #757575;
  box-shadow:
    0 5px 0 0 #757575,
    0 10px 0 0 #757575;
}
#header #editor-toggle span {
  display: none;
}

/*actions*/
#header .actions {
  float: right;
}

/*save button*/
#actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*viewer*/
#viewer {
  margin-top: 60px;
}
