body {
  margin: 0px;
  overflow: hidden;
  background: #F5F6F7;
  font-family: Helvetica,Arial,sans-serif;
  line-height: normal;
}

/*forms*/
.field {
  float: left;
  margin: 0 10px 10px 0;
}
.field label {
  font-weight: bold;
  font-size: 90%;
}
button,
select {
  height: 23px;
  padding: 2px 6px;
  border: 0 none;
  background: #444;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
button:focus,
select:focus {
  outline: 0 none;
}
input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: #444;
  width: 36px;
  height: 18px;
  border-radius: 9px;
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  display: block;
  background: #ccc;
  transition: margin 0.2s, background 0.2s;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
input[type="checkbox"]:checked + label:after {
  margin-left: 18px;
  background: #ddd;
}

.form-container {
  position: absolute;
  padding: 10px 0 0 10px;
  color: #fff;
  background: rgba(0,0,0,.8);
}

/*configurator form*/
#config-editor {
  top: 0px;
  left: 0px;
  border-bottom-right-radius: 3px;
}

/*camera controls*/
#camera-controls {
  bottom: 0px;
  left: 0px;
  border-top-right-radius: 3px;
}

/*configurator view*/
#configurator {}
