@import 'tailwindcss';

@layer utilities {
    /* Chrome, Safari and Opera */
    .scrollbar-none::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-none {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* IE and Edge */
    }
}

/* forms */
.field {
    @apply overflow-hidden;
}
.field .field {
    @apply inline-block mr-5;
}
.field label {
    @apply block mb-2;
}

/* defaults */
input,
button,
select {
    @apply p-2 border border-stone-800 rounded shadow-sm outline-none bg-stone-900 text-stone-200;
}
select {
    @apply bg-stone-800 bg-gradient-to-b from-stone-800 to-stone-900 text-stone-300;
}
input[type='checkbox'] {
    @apply mr-2 mt-1;
}
input[type='range'] {
    @apply shadow-none;
}
input[type='color'] {
    @apply !appearance-none p-0 bg-transparent rounded cursor-pointer;
}
input[type='color']::-webkit-color-swatch-wrapper {
    @apply p-0;
}
input[type='color']::-webkit-color-swatch {
    @apply border-0;
}

/*buttons*/
button {
    @apply py-2 px-4 bg-red-700 text-white font-medium shadow-md hover:bg-red-600 border-none cursor-pointer;
}

/* icons */
.icon {
    @apply inline-block w-6 h-auto align-middle;
}

/* sweetalert */
.swal2-container .swal2-styled.swal2-confirm {
    @apply bg-green-500 text-white;
}

/* loader animation */
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
        transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    }
}
@keyframes rotate {
    100% {
        -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
        transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    }
}
