@import-normalize;

body {
  margin: 0px;
  background: #2a2a2a;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*checkboxes*/
input[type='checkbox'] {
  float: left;
  margin: 2px 7px 0 0;
}

/*selects*/
select {
  display: inline-block;
  padding: 6px;
  max-width: 100%;
  border: 1px solid;
  border-color: #111 #0a0a0a black;
  background: #444;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  color: #aaa;
}
select:focus {
  outline: none;
}
select > option {
  background: #444;
}

/*buttons*/
button {
  float: left;
  line-height: 40px;
  margin: 0;
  padding: 0 15px;
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  outline: 0 none !important;
  background: #cc0000;
  color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
button:hover {
  background: #f81717;
}

/* icons */
.icon {
  display: inline-block;
  width: 24px;
  height: auto;
}

/*colorpicker*/
input[type='color'] {
  -webkit-appearance: none !important;
  height: 28px;
  width: 100%;
  padding: 0;
  border: 0 none;
  background: transparent;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
  outline: none !important;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type='color']::-webkit-color-swatch {
  border: none;
}

/*header*/
#header {
  position: relative;
  height: 60px;
  border: none;
  z-index: 999;
  background: #fff;
  color: #188ae2;
  transition: 0.5s;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
#header h1 {
  float: left;
  margin: 0;
  padding: 0 10px;
  width: 240px;
  font-size: 160%;
  font-weight: 300;
  line-height: 60px;
  background: #1c1a1a;
  color: #fff;
  box-sizing: border-box;
}
#header h1 .icon {
  margin: 0 8px 0 0;
  width: 28px;
  height: auto;
  vertical-align: text-bottom;
  fill: #fff;
}
#header h1 strong {
  font-weight: 500;
}

#header button {
  margin: 10px;
}

/* toggle */
#header #editor-toggle {
  display: none;
}
@media only screen and (min-width: 768px) {
  #header #editor-toggle {
    display: block;
    float: right;
    margin: 0;
    position: relative;
    height: 60px;
    width: 64px;
    background: transparent;
    box-shadow: none;
    border: 0 none;
    cursor: pointer;
  }
  #header #editor-toggle:before {
    content: '';
    position: absolute;
    left: 22px;
    top: 24px;
    width: 18px;
    height: 2px;
    background: #757575;
    box-shadow: 0 5px 0 0 #757575, 0 10px 0 0 #757575;
  }
  #header #editor-toggle span {
    display: none;
  }
}

/*actions*/
#header .actions {
  float: right;
}

/* editor */
#editor {
  height: 50vh;
  overflow: auto;
  background: #333;
  color: #ccc;
}
#editor .field {
  margin: 20px 0;
  overflow: hidden;
}
#editor .field label {
  display: block;
  margin: 0 0 5px 0;
}

#editor .section-header {
  padding: 15px 10px;
  background: #1a1a1a;
  cursor: pointer;
}
#editor .section-header .icon {
  margin: 0 10px 0 0;
  vertical-align: middle;
  fill: #fff;
}
#editor .section-content {
  display: none;
  padding: 10px 20px;
  background: #2a2a2a;
  overflow: hidden;
}

#editor .section.active .section-header {
  color: #fff;
}
#editor .section.active .section-content {
  display: block;
}

@media only screen and (min-width: 768px) {
  #editor {
    width: 240px;
    height: auto;
    position: fixed;
    top: 60px;
    left: -240px;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1px #aaa;
    -webkit-box-shadow: 0 0 1px #aaa;
    transition: 0.5s;
    overflow: hidden;
    z-index: 9;
  }
  #editor.visible {
    left: 0;
  }
  #editor .editor-container {
    width: 255px;
    max-height: 100%;
    overflow: auto;
  }
  #editor .section-header {
    background: rgba(0, 0, 0, 0.6);
  }
  #editor .section-header .icon {
    width: 18px;
    vertical-align: bottom;
  }
  #editor .section-header:hover {
    background: #222;
    color: #fff;
  }
  #editor .section-content {
    padding: 0 30px 0 10px;
    background: rgba(0, 0, 0, 0.4);
  }
}

/* vehicle */
#vehicle {
  position: relative;
  height: 100vh;
  height: calc(50vh - 60px);
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  #vehicle {
    height: calc(100vh - 60px);
  }
}

/*save button*/
#actions {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
