/*loader*/
#loader {
  height: 100%;
  width: 100%;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
}
#loader .spinner {
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
#loader .spinner .cube {
  -webkit-animation: rotate 1500ms infinite;
  animation: rotate 1500ms infinite;
  height: 30px;
  margin: auto;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 30px;
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
    transform: rotateY(180deg) rotateX(0deg) rotateZ(180deg);
  }
}
#loader .spinner .face {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#loader .spinner .face.front {
  background: #f43;
  -webkit-transform: translateZ(15px);
  transform: translateZ(15px);
}
#loader .spinner .face.back {
  background: #f43;
  -webkit-transform: translateZ(-15px);
  transform: translateZ(-15px);
}
#loader .spinner .face.left {
  background: #e63423;
  -webkit-transform: translateX(-15px) rotateY(90deg);
  transform: translateX(-15px) rotateY(90deg);
}
#loader .spinner .face.right {
  background: #b02f23;
  -webkit-transform: translateX(15px) rotateY(90deg);
  transform: translateX(15px) rotateY(90deg);
}
#loader .spinner .face.top {
  background: #ff5c4d;
  -webkit-transform: translateY(-15px) rotateX(90deg);
  transform: translateY(-15px) rotateX(90deg);
}
#loader .spinner .face.bottom {
  background: #d63021;
  -webkit-transform: translateY(15px) rotateX(90deg);
  transform: translateY(15px) rotateX(90deg);
}
#loader .spinner .text {
  color: #f43;
  margin: 14px auto;
  text-align: center;
}
#loader .spinner .text h3 {
  margin: 0 0 0.5em 0;
}
#loader .spinner .text .asset {
  color: #bbb;
  font-size: 12px;
}